{% extends 'base/base.html' %}
{% block title %}Patient User{% endblock title %}
{% block content %}
{% load rizwan_dev_tags %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Patient Users
        </h1>

    </section>
    {% if messages %}
      {% for message in messages%}
        <div class="alert alert-{{message.tags}} text-center" id='hidemessage' role="alert">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}
    <!-- /.content -->
    <section class="content" id="dashboard-2">
        <div class="box">
            <div class="box-header">
                <span class="refresh"><button class="btn" onclick="location.href='{% url 'patient-users'%}'"><img src="/static/assets/dist/img/refresh.png"></button></span>
                <span class="sort-section">
                    <select id="type_id">
                      <option value="" disabled selected>Filter by Status</option>
                      <option value="1" style="color:green;" {% if SelectedType == "1"%} selected {% endif%}>Active</option>
                      <option value="0" style="color:red;" {% if SelectedType == "0"%} selected {% endif%}>Blocked</option>
                    </select>
                </span>
                <form method="POST" action="{% url 'patient-user-search'%}">
                    {% csrf_token %}
                    <input type="text" id="myInput" onkeyup="myFunction()" name="q" {% if InputText%} value="{{InputText}}" {% endif%} placeholder="Search Patients" title="Type in a name">
                </form> 
                <h3 class="box-title">Patient Users</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <table class="table table-condensed">
                    <tr>
                        <th>Id</th>
                        <th>Patient Name</th>
                        <th>Email</th>
                        <th>Mobile Number</th>
                        <th>Status</th>
                        <th style="text-align:center">Actions</th>
                    </tr>
                    {% if patientUsers%}
                        {% for user in patientUsers%}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{user.fullName}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.mobileNo}}</td>
                                {% if user.isActive == 1%}
                                    <td class="status-approve">Active</td>
                                {% else%}
                                    <td class="status-block">Blocked</td>
                                {% endif%}
                                <td class="btn-section button-section">
                                  <div class="st-toggle">
                                    {% if user.isActive == 1 %}
                                      <form method="POST">
                                          <label class="switch"  style="top: 5px;">
                                            <a href = "{% url 'block-unblock' user.id%}?page={{ page_obj.number }}">
                                              <input type="checkbox" checked>
                                              <span class="slider round"></span>
                                            </a>
                                          </label> 
                                      </form>
                                    {% else%}
                                      <form method="POST">
                                        <label class="switch"  style="top: 5px;">
                                          <a href = "{% url 'block-unblock' user.id%}?page={{ page_obj.number }}">
                                            <input type="checkbox">
                                            <span class="slider round"></span>
                                          </a>
                                        </label> 
                                      </form>
                                    {% endif%}
                                  </div>
                                  <span class="btn-2"><a href="#" class="btn btn-delete" id="delete_user" data-id = "{{user.id}}"  data-toggle="modal" data-target="#flipFlop3">Delete</a></span>
                                  <span class="btn-3"><a href="{% url 'patient-detail-page' user.id%}" class="btn btn-view">View Details</a></span>
                                </td>
                            </tr>
                        {% endfor%}
                    {% else%}
                        <td><span>Users Not Available</span></td>
                    {% endif%}
        
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
        <div class="box-footer">
            <div class="box-tools" style="margin-left: 45%;">
              <ul class="pagination pagination-sm inline">
                {% if page_obj.has_previous %}
                  <li><a href="?page=1" >&laquo; First</a></li>
                  <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% endif %}&nbsp
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                {% if page_obj.has_next %}
                  <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
                  <li><a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
                {% endif %}
              </ul>
            </div>
        </div>
    </section>

</div>
<div class="modal fade" id="flipFlop3" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="box-shadow: none">
    <div class="modal-content" style="box-shadow: none">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="modalLabel">Delete</h4>
      </div>
      <div class="modal-body">
        <h5>Are you sure you want to delete this user ?</h5>

        <button type="button" id = "delete_link_modal" class="btn btn-success mx-4" onMouseOver="this.style.color='white'" data-dismiss="modal">Delete</button>
        <button type="button" class="btn btn-danger mx-4" data-dismiss="modal" onMouseOver="this.style.color='white'">Cancel</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<form name="filter-form" id="type_id_form" method="POST" action="{% url 'patient-act-block-filter'%}">
    {% csrf_token%}
  <input type="hidden" name="filter_status_id" id="filter_val_status">
</form>
<form method="post" action="{% url 'delete-user' %}" id="delete-user-form">
  {% csrf_token %}
  <input type="hidden" name="user_id" id="User_id">
</form>
{% endblock content%}
{% block script%}
  <script>
    setTimeout(function(){
      $('#hidemessage').hide()
    }, 3000);
    $('#type_id').on('change',function(){  
      var val = $('#type_id').val();
      $('#filter_val_status').attr('value',val);
      $('#type_id_form').submit();
    });
    $(document).on('click','#delete_user', function(e){ 
      var user_id = $(this).data('id');
      $('#User_id').val(user_id);
    }); 
    $(document).on('click','#delete_link_modal', function(e){ 
      $('#delete-user-form').submit(); 
    });
  </script>
{% endblock script%}