{% extends 'base/base.html' %}
{% block title %}Coach Users Details{% endblock title %}
{% block content %}
{% load rizwan_dev_tags %}
{% licenseTypeDetails User.id as addtionalData%}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Coach Users Details
        </h1>
    </section>
    <!-- /.content -->
    <section class="content" id="dashboard-3">

        <div class="box box-widget widget-user">
            <div class="row">
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="profile-img">
                                <img {% if not User.profileImage%} src="/static/assets/dist/img/no_user.png" alt="User Avatar" {% else%} src = "{{User.profileImage}}" {% endif%}>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="profile-detail-1">
                                <h3>Profile</h3>
                                <div class="profile-detail-1-1">
                                    <p><img src="/static/assets/dist/img/profile-icon-2.png"> Email: {{User.email}}</p>
                                <p><img src="/static/assets/dist/img/profile-icon-1.png"> Mobile Number: {{User.mobileNo}}</p>
                                <p><img src="/static/assets/dist/img/profile-icon-4.png"> Gender: {% if User.genderType == 1%} He/Him {% elif User.genderType == 2%} She/Her {% elif User.genderType == 3%} They/Them{% else%}NA {% endif%}</p>
                                <p><img src="/static/assets/dist/img/profile-icon-5.png"> Experience: {{addtionalData.experience}}+years</p>
                                <p><img src="/static/assets/dist/img/profile-icon-4.png"> ZipCode:{{User.zipCode}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>{{User.fullName}}</h2>
                            {% comment %} <h6>{{addtionalData.licenseTypeId.licenseTypeName}}</h6> {% endcomment %}
                        </div>
                        <div class="col-sm-12">
                            <h3>About me</h3>
                            
                            <div class="profile-detail-1-1">
                                <p>{{addtionalData.about}}</p>
                            </div>
                        </div>
                        {% comment %} <div class="col-sm-12">
                            <h3>License Images</h3>
                            <div class="profile-detail-1-1">
                                <div class="row">
                                    {% for doc in Docs%}
                                        <div class="col-sm-4 document-img">
                                            <a href="{{doc.providerUserDocUrl}}" target="_blank"><img src="{{doc.providerUserDocUrl}}"></a>
                                        </div>
                                    {% endfor%}
                                </div>
                            </div>
                        </div> {% endcomment %}
                    </div>

                </div>
            </div>
        </div>
    </section>

</div>
{% endblock content%}