{% extends 'base/base.html' %}
{% block title %}Revenue{% endblock title %}
{% block content %}
{% load rizwan_dev_tags %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Revenue
        </h1>   

    </section>
    <!-- /.content -->
    <section class="content" id="dashboard-2">
        <div class="box">
            <div class="box-header">
                <span class="refresh"><button class="btn" onclick="location.href='{% url 'providers-list-for-revenue'%}'"><img src="/static/assets/dist/img/refresh.png"></button></span>
                <form method="POST" action="{% url 'provider-serch-revenue'%}">
                    {% csrf_token %}
                    <input type="text" id="myInput" autocomplete="off" onkeyup="myFunction()" name="q" {% if InputText%} value="{{InputText}}" {% endif%} placeholder="Search Coach" title="Type in a name">
                </form> 
                <div class="col-md-4">
                    <div class="small-box-1 bg-white">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="/static/assets/dist/img/4.png">
                            </div>
                            <div class="inner">
                                <div class="col-md-8">
                                    <p>Total Revenue <span>${{total_ammount}}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <table class="table table-condensed">
                    <tr>
                        <th>Id</th>
                        <th>Coach Name</th>
                        <th>Mobile Number</th>
                        <th>Gender</th>
                        <th>Total Revenue</th>
                        <th>Actions</th>
                    </tr>
                    {% if providers_users%}
                        {% for provider in page_obj.object_list%}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{provider.fullName}}</td>
                                <td>{{provider.mobileNo}}</td>
                                <td>{% if provider.genderType == 1%} He/Him {% elif provider.genderType == 2%} She/Her {% elif provider.genderType == 3%} They/Them{% else%}NA {% endif%}</td>
                                {% totalTransAmmount provider.id as transactionAmmount%}
                                <td><strong>{% if transactionAmmount%} $ {{transactionAmmount}} {% else%} NA {% endif%}</strong></td>
                                <td><a href="{% url 'revenue-view-detail' provider.id %}" type="button" class="btn btn-view-2">View Details</a></td>
                            </tr>
                        {% endfor%}
                    {% else%}
                        <tr><td>Coach users not available</td></tr>
                    {% endif%}
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
        <div class="box-footer">
            <div class="box-tools" style="margin-left: 45%;">
              <ul class="pagination pagination-sm inline">
                {% if page_obj.has_previous %}
                  <li><a href="?page=1" >&laquo; First</a></li>
                  <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% endif %}&nbsp
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                {% if page_obj.has_next %}
                  <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
                  <li><a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
    </section>


</div>
{% endblock content%}